// @function t($property, $duration: fast, $easing: bounce ) {
@function t($arguments...) {
	
	//OPTIONS HERE
	$durations: (
		slow: 1s,
		normal: .5s,
		fast: .2s,
	);
	$easings: (
		ease: ease,
		easeOut: cubic-bezier(0, 0, 0, 1),
		bounce: cubic-bezier(0.56,0,0,1.6)
		// transform 1s cubic-bezier(0.56, 0, 0.04, 1.61)
	);
	
	//DEFAULTS HERE
	$_duration	: map-get($durations, fast);
	$_easing	: map-get($easings, bounce);
	
	//This enables you to get timings and easings without excplicitly
	//using transition all. so t(fast) will return .2s, and t(bounce) will
	//give back the easing function.
	@if map-has-key($durations, nth($arguments, 1)) {
		@return map-get($durations, nth($arguments, 1));
	}
	@if map-has-key($easings, nth($arguments, 1)) {
		@return map-get($easings, nth($arguments, 1));
	}

	@each $arg in $arguments {
		$_duration: if(map-has-key($durations, $arg), map-get($durations, $arg), $_duration);
		$_easing: if(map-has-key($easings, $arg), map-get($easings, $arg), $_easing);
	}

	@return nth($arguments, 1) $_duration $_easing;
}