.accordion__title {
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: 0;
}
.accordion__content {
	transition: t(opacity), t(max-height);

	//Hide by default, but in a way that is still animateable
	height: 0; opacity: 0; visibility: hidden; overflow: hidden;max-height: 0;

	.is-active + & {
		visibility: visible;
		height: auto;
		opacity: 1;
		max-height: 20em;
	}
}