%footer
  .container
    .row
      %h3
        = I18n.t('home.footer.head')
      = simple_format(I18n.t('home.footer.content'))
    .row
      .xs-11.md-4.center
        = link_to I18n.t('home.footer.button.label'), '/contact', class: 'btn btn--blue'
