%footer.u-full-width
  .container
    .row
      .twelve.columns
        %h3
          = I18n.t('home.footer.head')
        = simple_format(I18n.t('home.footer.content'))
    .row
      .four.columns.offset-by-four
        = link_to I18n.t('home.footer.button.label'), '/contact', class: 'btn btn--blue'
