.expertise
  .container
    .row.twelve.columns
      %h2
        = I18n.t('home.expertise.head')
      = simple_format(I18n.t('home.expertise.intro'))
  - data.expertise.expertise.each_with_index do |item, index|
    .expertise--item.row
      .expertise--item-icon.one.columns.offset-by-three{ class: item.icon_name }
      .expertise--item-text.five.columns
        %p
          - item.skills.each do |skill|
            = skill + (' / ' if skill != item.skills.last).to_s

= partial('partials/splitter_button', locals: { button_label: I18n.t('home.expertise.more'), button_url: data.expertise.expertise_url })
