.container
  .twelve.columns.splitter-button
    .five.columns
      %hr/
    .two.columns
      = link_to locals[:button_label], locals[:button_url], class: 'btn btn--red'
    .five.columns
      %hr/
