.home_content_container {
  @include centre("b");
  width: 500px;
  height: 260px;

  .home_header {
    @include centre("b");
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 200px;

    .cssanimations & {
      @include animation("headerPlace" 1s linear 1.5s forwards);
    }

    @include keyframes("headerPlace") {
      100% {
        left: 50%;
        top: 20%;
      }
    }
  }

  .home_paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin: 165px 0 0 8px;
    opacity: 0;

    .cssanimations & {
      @include animation("showParagraph" .5s linear 2.5s forwards);
    }

    @include keyframes("showParagraph") {
      100% {
        opacity: 1;
      }
    }
  }

  .home_button_container {
    @include centre("x");
    width: 200px;
    text-align: center;

    .home_latest_link {
      height: 50px;
      width: 200px;
      line-height: 50px;
      border: solid 1px $white;
      display: block;
      color: $white;
      text-decoration: none;
      border-radius: 5px;
      margin: 15px 0 5px 0;
    }

    .home_overview_link {
      text-decoration: none;
      color: $white;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}