.work_content_container {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;

  .cssanimations & {
    @include animation("workReplace" 1s linear 2.5s forwards);
  }

  @include keyframes("workReplace") {
    0% {
      bottom: -400px;
    }
    100% {
      height: auto;
      bottom: -350px;
      opacity: 1;
    }
  }

  .project_block {
    float: left;
    background-color: $white;
    width: 33.33%;
    height: 200px;
    background-repeat: no-repeat;
  }

  .justab {
    background: image-url('justab/logo.png') $white no-repeat 50% 50%;
  }

  .lets_connect {
    background: image-url('connect/logo.png') $white no-repeat 50% 50%;
  }

  .serve_72 {
    background: image-url('serve/logo.png') no-repeat 50% 50%;
  }

  .shelter_ministries {
    background: image-url('shelter/logo.png') no-repeat 50% 50%;
  }

  .beauty_unique {
    background: image-url('beauty/logo.png') no-repeat 50% 50%;
  }
}