h1
  font-size: 1.5em
  margin-bottom: 20px

h2
  color: $accent-color-2
  font-size: 1.75em

h3
  font-size: 2em

p
  font-family: $font-serif
  margin-top: 20px
  font-size: 1em
  line-height: 1.5

.bold, strong
  font-weight: 700

.accent
  color: $accent-color-1
  text-decoration: none
  padding-bottom: 50px
  border-bottom: solid 1px transparent
  transition: border .4s ease-in-out, padding .4s ease-in-out

  &:hover
    border-bottom-color: $accent-color-1
    padding-bottom: 0

// TODO: Make hover more beautifull
.btn
  height: 50px
  width: 100%
  line-height: 50px
  display: inline-block
  color: $white
  text-decoration: none
  border: solid 1px $white
  text-align: center
  transition: all .3s ease-in-out

  &:hover
    outline-width: 0px

  &:after
    content: ''
    background-image: image-url('icons/triangle-arrow-right.svg')
    line-height: 1
    height: 15px
    width: 15px
    display: inline-block
    vertical-align: middle
    margin: 0 0 2px 5px

  &--red
    background-color: $accent-color-1
    outline: solid 5px $accent-color-1

  &--blue
    background-color: $accent-color-2
    outline: solid 5px $accent-color-2
