.expertise
  text-align: center
  padding: 50px 65px 0

  &--item
    float: left
    padding: 0 65px
    clear: both
    margin: 0 auto
    width: 75%

  &--item-icon
    display: inline-block

    img
      width: 100px
      vertical-align: middle

  &--item-text
    width: 60%
    display: inline-block
    vertical-align: middle


