.expertise
  text-align: center

  &--item
    margin: 0 auto

  &--item-icon
    height: 68px
    background-size: 100% 100%
    background-repeat: no-repeat

    &.wrench
      background-image: image-url('icons/wrench.svg')

    &.code
      background-image: image-url('icons/code.svg')


