.projects
  position: relative

  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    height: 15px
    width: 15px
    background-color: $accent-color-1
    background-image: image-url('icons/arrow-down.svg')
    background-size: 100%

.project
  position: relative
  border: solid 10px $accent-color-2

  &--image
    width: 100%

  &--favorite
    background-color: $accent-color-1
    float: left
    border-radius: 5px
    position: absolute
    margin: 15px
    height: 30px
    width: 30px

    img
      margin: 5px auto
      height: 20px
