.menu
  background-color: $base-color-1
  color: $white
  font-size: 1.25em

  &--logo
    background-image: image-url('logo.svg')
    height: 100px
    background-size: contain
    background-position: 50% 0
    background-repeat: no-repeat

  &--logo-text
    border-left: solid 1px $white
    margin: 0 0 0 10px
    padding-left: 5px
    color: $white

  &--mobile
    height: 40px
    background-image: image-url('icons/menu.svg')
    background-size: 40px
    background-repeat: no-repeat
    background-position: 50% 0
    position: absolute
    right: 0
    cursor: pointer

  &--list-item
    a
      transition: color .4s ease-in-out

    &:hover a
      color: $black

    &.has-subs
      position: relative

      &:hover .menu--sub-list
        overflow: hidden
        height: 200px

      &:after
        content: ''
        background-image: image-url('icons/triangle-arrow-down.svg')
        width: 15px
        background-repeat: no-repeat
        background-position: 50%
        display: inline-block
        height: 15px

    a
      text-decoration: none
      color: $white

  &--sub-list
    display: block
    position: absolute
    height: 0
    transition: height .3s
    overflow: hidden

  @include bp('md-')
    &--logo-text
      text-align: center
      border-left: none

    &--list-item
      text-align: center

