.menu
  background-color: $base-color-1
  color: $white
  font-size: 1.25em

  &--logo
    background-image: image-url('logo.svg')
    height: 100px
    background-size: cover
    background-position: 50%
    background-repeat: no-repeat
    margin-top: 20px

  &--logo-text
    border-left: solid 1px $white
    margin-top: 20px
    padding-left: 5px

  &--list-item
    line-height: 70px

    &:hover a
      color: $black

    &.has-subs
      position: relative

      &:after
        content: ''
        background-image: image-url('icons/triangle-arrow-down.svg')
        position: absolute
        height: 100%
        width: 15px
        margin-left: 5px
        top: 0
        background-repeat: no-repeat
        background-position: 50%

      &:hover .menu--sub-list
        overflow: hidden
        height: 200px

    a
      text-decoration: none
      color: $white

  &--sub-list
    display: block
    position: absolute
    height: 0
    transition: height .3s
    overflow: hidden
