.splitter-button
  // margin-top: 50px

  hr
    border: solid 1px $accent-color-2

  // a
  //   float: left

  @include bp('md+')
    hr
      margin-top: 25px

  @include bp('md-')
    .btn
      margin: 1.25rem 0

