@import "compass/css3/animation";

@mixin box-sizing($box-model: "border-box") {
  box-sizing: $box-model;
}

@mixin centre($axis: "b"){
  position:absolute;
  @if $axis == "y"{
      top:50%;
      transform: translateY(-50%);
  }
  @if $axis == "x"{
      left:50%;
      transform: translateX(-50%);
  }
  @if $axis == "b"{
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
  }
}