// /* #Tablet (portrait) ======================= */
// @media only screen and (min-width: 768px) and (max-width: 959px) {
//   <hier uw css naar toe kopiëren en aanpassen met nieuwe maten>
// }
// /* #Mobile (Landscape) ======================= */
// @media only screen and (min-width: 480px) and (max-width: 767px) {
//   <hier uw css naar toe kopiëren en aanpassen met nieuwe maten>
// }
// /* #Mobile (portrait) ======================= */
// @media only screen and (min-width: 300px) and (max-width: 479px) {
//   <hier uw css naar toe kopiëren en aanpassen met nieuwe maten>
// }

$width-name: max-width;
$tablet-width: 959px;
$landscape-width: 767px;
$portrait-width: 479px;